.wrap {
  width: 300px;
  outline: none;
}

.App {
  margin-top: 20px;
  padding: 0 calc(3.5vw+80px);
  position: relative;
  margin: 50px;
}

.imgsetting {
  margin: auto;
  transition-duration: 300ms;
  max-width: 900px;
}
