.Logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: linear-gradient(
      0deg,
      rgba(255, 185, 137, 0.7),
      rgba(238, 217, 196, 0.7)
    ),
    url(ella-olsson-oPBjWBCcAEo-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

/* .Logo-container img {
  max-width: 100%;
} */

/* .overlay {
  height: 600px;
  width: 100vw;
  background: black;
  overflow: hidden;
}

img {
  object-fit: cover;
  opacity: 0.4;
} */

.loader {
  max-width: 20rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}
circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
  animation-name: preloader;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: 170px 170px;
  transform-origin: 170px 170px;
  will-change: transform;
}
circle:nth-of-type(1) {
  stroke-dasharray: 550px;
}
circle:nth-of-type(2) {
  stroke-dasharray: 500px;
}
circle:nth-of-type(3) {
  stroke-dasharray: 450px;
}
circle:nth-of-type(4) {
  stroke-dasharray: 300px;
}
circle:nth-of-type(1) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}
circle:nth-of-type(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
circle:nth-of-type(3) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}
circle:nth-of-type(4) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
@-webkit-keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.btn-1 {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(217, 185, 155, 0.09);
  background: rgba(0, 0, 0, 0.09);
}

.enter-span {
  display: block;
  padding: 20px 70px;
  font-family: "Fira Mono";
}

.btn-1::before,
.btn-1::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: rgba(103, 88, 75, 0.4);
}

.enter-span::before,
.enter-span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: rgba(103, 88, 75, 0.4);
}

.btn-1:hover::before,
.btn-1:hover::after {
  width: 100%;
}

.btn-1:hover .enter-span::before,
.btn-1:hover .enter-span::after {
  height: 100%;
}

.btn-1::before,
.btn-1::after {
  transition-delay: 0.2s;
}

.btn-1 .enter-span::before,
.btn-1 .enter-span::after {
  transition-delay: 0s;
}

.btn-1::before {
  right: 0;
  top: 0;
}

.btn-1::after {
  left: 0;
  bottom: 0;
}

.btn-1 span::before {
  left: 0;
  top: 0;
}

.btn-1 span::after {
  right: 0;
  bottom: 0;
}

.btn-1:hover::before,
.btn-1:hover::after {
  transition-delay: 0s;
}

.btn-1:hover .enter-span::before,
.btn-1:hover .enter-span::after {
  transition-delay: 0.2s;
}
